AI-Driven Assignment Evaluation and Scoring System JSON Code file.json
{
  "name": "AI-Driven Assignment Evaluation and Scoring System Task",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1296,
        112
      ],
      "id": "fadb5fdd-6c7f-4c78-9fe7-ab4514055fe1",
      "name": "Telegram Trigger",
      "webhookId": "cfcd8a0f-0715-4829-a0e1-265d8a56b169",
      "credentials": {
        "telegramApi": {
          "id": "9frdUSp08FOPwyF7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "outputPrefix": "data"
      },
      "type": "n8n-nodes-base.compression",
      "typeVersion": 1.1,
      "position": [
        -960,
        112
      ],
      "id": "01f41282-4c5b-4aaf-a50a-c7dd85ec0179",
      "name": "Compression"
    },
    {
      "parameters": {
        "fieldToSplitOut": "=$binary",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -672,
        112
      ],
      "id": "9af88e35-bdd8-4a58-8807-67c92eb5873e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        112
      ],
      "id": "15dcf72b-0f36-48cc-bc9a-3419371659d1",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $binary.keys()[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -16,
        128
      ],
      "id": "66852e80-b411-4b69-a8b4-9a897d17dd79",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You will receive the full text of one student's assignment.\n\nThe text contains Python questions and the student's answers.\nYour tasks:\n1. Detect each question and its corresponding student answer.\n2. For each question, assign a score from 0 to 10.\n3. Calculate the total score (sum of all question scores).\n5. Assume the max_score is (number_of_questions * 10)\n6. Give a short overall feedback summary for the whole assignment.\n\nStudent Name: {{ $json[\"Student Name\"] || \"Unknown\" }}\nModule: {{ $json[\"Module Name\"] || \"Python Module\" }}\n\nAssignment Text:\n<<<ASSIGNMENT_START>>>\n{{ $json.text }}\n<<<ASSIGNMENT_END>>>\n\nNow produce the final evaluation in the EXACT format below (no extra text):\n\nAssignment Evaluation Report\nStudent: <Student Name if there else put \"Unknown Innominion\">\nModule: <decide the \"Module name\" based on all the questions Topic>\n\nQ1 Question : <1st question from text>\nAnswer : <answer within 20 tokens only>\nScore: <score for 1st question answer>/10\n\nQ2 Question : <2st question from text>\nAnswer : <answer within 20 tokens only>\nScore: <score for 2nd question answer>/10\n\n[Continue like this for first questions only ....]\n\nTotal Score: <total_score>/100\nOverall Feedback: <overall_feedback>\n\nNOTE : Give the output under 1500 tokens only.",
        "options": {
          "systemMessage": "=You are a senior Python instructor at Innomatics Research Labs.\n\nYour job is to evaluate student assignments fairly and consistently.\n\nEach assignment contains:\n- One or more programming questions.\n- The student's answers to those questions.\n\nEvaluation rules:\n- For every question, give a score from 0 to 10.\n- Focus on correctness, logic, code quality, edge cases, and clarity of explanation.\n- Be strict but fair. Do NOT give full marks unless the answer is clearly perfect.\n- If the answer is missing or completely wrong, give 0/10.\n\nYour response MUST strictly follow the format requested in the user message.\nDo not invent questions or answers that are not in the text.\nDo not add any extra commentary outside the requested format.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        256,
        128
      ],
      "id": "ccb57a7b-d862-4c26-981d-0a95cf9e03a2",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        368
      ],
      "id": "ad93b3f8-bed6-4872-8d26-61d6e502a067",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "pKPjb6Wkgks4DHnv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        688,
        128
      ],
      "id": "4a35493c-0f52-4f50-a1ac-48f4fe767d0a",
      "name": "Send a text message",
      "webhookId": "fd32db81-c31d-4385-826f-8c763a1b77e1",
      "credentials": {
        "telegramApi": {
          "id": "9frdUSp08FOPwyF7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        928,
        128
      ],
      "id": "22796c23-8263-4d5b-b0d7-8043d45c9c9b",
      "name": "Wait",
      "webhookId": "d7f2107b-6186-4fa0-b798-9bc4a6ae4013"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Done",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -16,
        -144
      ],
      "id": "fbe953b2-a00d-413d-b7f1-4dcf44036897",
      "name": "Send a text message1",
      "webhookId": "fd32db81-c31d-4385-826f-8c763a1b77e1",
      "credentials": {
        "telegramApi": {
          "id": "9frdUSp08FOPwyF7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "content": "# AI-Driven Assignment Evaluation and Scoring System Task",
        "height": 848,
        "width": 2512,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1344,
        -272
      ],
      "typeVersion": 1,
      "id": "f53eaeb4-7fd3-430f-a5e3-922ed8720915",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Compression",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compression": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "87a767c1-d032-42f9-8afb-2ff75a073d54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a0404f9182593b9c060b771750862c1252994be39a74ffaafe079bf2305c54f"
  },
  "id": "MOBNPFlmG0YTGAoT",
  "tags": []
}